*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
html{
    scroll-behavior: smooth;
}
.body{
    font-size:16px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
nav{
    background-color:rgba(245, 77, 77, 0.658);
    width:100%;
    /* max-height:50vh; */
    padding:20px;
    background-color: pink;
    background-image:url(colosseum-at-sunrise.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:auto;
}
navrow{
    display:grid;
}
.navbtn{
    border-radius: 0 !important;
}
label{
    text-transform: capitalize;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow:indianred;
}
.logo{
    color:rgb(255, 255, 255);
}
.logo span{
    color:rgb(175, 125, 31);
}
nav ul{
    float:right;
    margin-right: 20px;
}
nav ul li{
    display:inline-block;
}
nav a {
    text-decoration:none ;
    text-transform:capitalize;
    color:greenyellow;
}
.navbar ul li a:hover{
    background-color:grey;
    border-radius:50%;
    transition:ease;
}
.navbartext{
    color:rgb(93, 69, 182);
    padding:10px;
    display:flex;
    flex-wrap:nowrap;
    align-items: center;
    justify-content: center;
}
.navbartext p{
    color:white;
}
.navbartext h2 p{
    width:50%;
}
.navbartext h2{
    text-transform:capitalize;
    padding:10px;
}
.icons-section{
    margin:15px;
    padding:15px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icons-section i{
    background-color: rgba(33, 85, 182, 0.658);
    border-radius:50%;
    padding:10px;
    
}
.gallery{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1rem; 
}

.gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display:block;
}
#G-I1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

}
#G-I2  {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;

}
#G-I3 {
    grid-column-start: 5;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 6;

}
#G-I4  {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;

}
#G-I5  {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;

}
#G-I6 {
    grid-column-start: 5;
    grid-column-end: 12;
    grid-row-start: 6;
    grid-row-end: 9;

}

.whycont{
    background-color:slategrey;
    background-image:url(373787.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:auto;
    padding:24px;
    
}
.whyrow{
    background:rgba(47, 0, 255, 0.219);
    margin:16px;
    padding:10px;
    display:flex;
    flex-direction: row;
    flex-wrap:column;
    color:white;
    text-align: center;
}
.whyrow .col{
    padding:8px;
    margin:8px;
}
.testicont{
    text-align:center;
}
.testirow{
    margin:10px;
    padding:10px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.testimonial-2 img{
    max-height:150px;
    max-width:150px;
    border-radius:50%
}
.testimonial-1{
    padding:10px;
    background:grey;

}
.testimonial-2{
    padding:10px;
}
.videocont{
    background-color: darkgrey;
    padding:10px;
}
.video-row-1{
    background-color:cornsilk;
    padding:10px;
    margin :10px;
}
.row-2{
    background-color: red;
    /* padding:15px; */
    margin:10px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.binge{
    background: lawngreen;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-around;
    padding:25px;
}
.bingediv{
    text-transform: uppercase;
}
.bingediv p{
    color:black;
}

.bingespan{
    text-transform: initial;
    font-size: 14px;
    color:rgba(1, 117, 36, 0.801);
}
.bingebtn{
    text-transform: uppercase;
    border-radius: 0 !important;
}
.footer{
    background-color: rgba(109, 76, 32, 0.459);
    /* padding:70px 0; */
}
.footcont{
    max-width:1200px;
    margin: auto;
    font-family: cursive;
}
.footerrow h5{
    text-transform: uppercase;
    font-size:14px;
    margin:0, auto ;
    padding:10px;
}
ul li{
    list-style-type: none;
}
.footercol{
    width:20%;
    display:inline-block;
}
.footercol ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color:rgba(163, 45, 61, 0.452);
    transition: 0.5s;
}
#footer-col-1{
    font-size: 10px;
}
.footcont > h4{
    text-transform: uppercase;
    margin-bottom: 10px;
}
.footercol ul li a:hover{
    color:rgb(165, 25, 36);
    padding-left:2px;
    font-size:18px;
}



